In [24]:
import random

def random_func():
    def make_list(a,b):
        return [a,b]
    def add(a,b):
        return a + b
    actions = [make_list, add]
    return random.choice(actions)

a = random_func()
print(a(2,3))

[2, 3]

In [11]:
def fun(funA):
    def funB(a,b):
        print(a,b)
        return funA(a,b)
    return funB

def funA(a,b):
    print(a+b)
funB = fun(funA)
funB(1,2)

1 2
3

In [13]:
@fun
def funC(a,b):
    print(a+b)

funC(2,3)

2 3
5

In [1]:
listA

NameError: name 'listA' is not defined

In [2]:
lista = ['a','b','c']

d = {k:v for k,v in enumerate(lista)};d

{0: 'a', 1: 'b', 2: 'c'}

In [3]:
class C():
    def __init__(self):
        self.__s = 'sun'
        self._s = 'wei'

c = C()
c.__s

AttributeError: 'C' object has no attribute '__s'

In [4]:
c._s

'wei'

In [5]:
c.__dict__

{'_C__s': 'sun', '_s': 'wei'}

In [6]:
_

{'_C__s': 'sun', '_s': 'wei'}

In [7]:
c.__C__s

AttributeError: 'C' object has no attribute '__C__s'

In [8]:
c._C__s

'sun'

In [9]:
c

In [10]:
c.__class__

__main__.C

In [11]:
c.__class__.__class__

type

In [12]:
a = 1
a.__class__

int

In [14]:
a.__class__.__class__

type

In [23]:
def upper_attr(future_class_name, future_class_parents, future_class_attr):
    '''返回一个类对象，将属性都转为大写形式'''
    #  选择所有不以'__'开头的属性
    attrs = ((name, value) for name, value in future_class_attr.items() if not name.startswith('__'))
    # 将它们转为大写形式
    uppercase_attr = dict((name.upper(), value) for name, value in attrs)
 
    # 通过'type'来做类对象的创建
    return type(future_class_name, future_class_parents, uppercase_attr)
 
__metaclass__ = upper_attr  #  这会作用到这个模块中的所有类
 
class Foo(object):
    # 我们也可以只在这里定义__metaclass__，这样就只会作用于这个类中
    bar = 'bip'

In [24]:
f = Foo()
f.BAR

AttributeError: 'Foo' object has no attribute 'BAR'

In [26]:
from collections import namedtuple

In [27]:
point = namedtuple('Point', ('x', 'y'))
p = point(1,2)
p.x

1

In [28]:
p.y

2

In [29]:
p._replace(x=2);p

Point(x=1, y=2)

In [30]:
p = p._replace(x=2);p

Point(x=2, y=2)

In [31]:
t = namedtuple('Stock', ['name', 'age', 'mail'])
t1 = t('', 0, '')

In [32]:
def dict_to_namedtuple(s):
    return t1._replace(**s)

In [33]:
s = {'name':'aaa', 'age':20, 'mail':'q.qq@com'}
t2 = dict_to_namedtuple(s)
t2

Stock(name='aaa', age=20, mail='q.qq@com')

In [35]:
def foo(n):
    return n >3

aa = [1,2,3,4,5,6]
print(list(filter(foo, aa)))

[4, 5, 6]

In [49]:
def foo(x):
    return x != 'a'

aa = 'abcabcca'
s = filter(foo, aa)

In [50]:
type(s)

filter

In [51]:
str(s)

'<filter object at 0x7f86c46d8be0>'

In [48]:
for i in s:
    print(i)

b
c
b
c
c

In [52]:
def foo(n):
    return n + 1

aa = [1,2,3,4]
print(list(map(foo, aa)))

[2, 3, 4, 5]

In [53]:
def foo(x,y):
    return x + y

x = [1,2,3]
y = [3,2,1]
print(list(map(foo,x,y)))

[4, 4, 4]

In [55]:
from functools import reduce
def foo(x,y):
    return x + y

print(reduce(foo, range(10), 10))

55

In [56]:
aa = ['Mary read a story to Sam and Isla.',
             'Isla cuddled Sam.',
             'Sam chortled.']

In [58]:
print(reduce(lambda a, x: a + x.count("Sam"), aa, 0))

3

In [60]:
(lambda x:x if x > 3 else 1)(2)

1

In [64]:
[(lambda x:x * 3)(i) for i in range(5)]

[0, 3, 6, 9, 12]

In [65]:
class c(object):
    def __init__(self):
        self._x = None
    @property
    def x(self):
        return self._x
    @x.setter
    def x(self, n):
        self._x = n
    @x.deleter
    def x(self):
        del self._x

In [66]:
cc = c()

In [67]:
cc.x=4

In [68]:
cc.x

4

In [69]:
from collections import defaultdict

In [70]:
d = defaultdict(lambda : 0)

In [72]:
for i in range(100):
    d[i % 10] += 1

d

defaultdict(<function __main__.<lambda>>,
            {0: 10,
             1: 10,
             2: 10,
             3: 10,
             4: 10,
             5: 10,
             6: 10,
             7: 10,
             8: 10,
             9: 10})

In [73]:
d['a']

0

In [74]:
def tree():
    return defaultdict(tree)

t = tree()
t['a']=1

In [75]:
t['bb']['b22'] = 2
t

defaultdict(<function __main__.tree>,
            {'a': 1, 'bb': defaultdict(<function __main__.tree>, {'b22': 2})})

In [77]:
import json
t1 = json.dumps(t)
t1

'{"a": 1, "bb": {"b22": 2}}'

In [78]:
t2 = json.loads(t)
t2

TypeError: the JSON object must be str, not 'defaultdict'

In [79]:
dict(t1)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [80]:
type(t1)

str

In [82]:
t1

'{"a": 1, "bb": {"b22": 2}}'

In [83]:
eval(t1)

{'a': 1, 'bb': {'b22': 2}}

In [84]:
t2 = eval(t1)

In [85]:
type(t2)

dict

In [86]:
d = defaultdict(lambda :0)

In [87]:
for i in 'aabbccd':
    d[i] += 1
d

defaultdict(<function __main__.<lambda>>, {'a': 2, 'b': 2, 'c': 2, 'd': 1})

In [88]:
from collections import Counter

In [89]:
c = Counter()
for i in 'aabbcdr':
    c[i] = c[i] + 1
c

Counter({'a': 2, 'b': 2, 'c': 1, 'd': 1, 'r': 1})

In [91]:
c = Counter('aabbc')

In [92]:
c

Counter({'a': 2, 'b': 2, 'c': 1})

In [95]:
c.most_common(1)

[('a', 2)]

In [96]:
from collections import Iterable
aa = [1, 2, [3, 4, [5, 6], 7], 8]

def foo(items):
    for i in items:
        if isinstance(i, Iterable):
            foo(i)
        else:print(i)

foo(aa)

1
2
3
4
5
6
7
8

In [103]:
rows = [
    {'address': '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [104]:
from operator import itemgetter

In [105]:
from itertools import groupby

In [106]:
rows.sort(key=lambda x:x['date'])
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print(i)

07/01/2012
{'date': '07/01/2012', 'address': '5412 N CLARK'}
{'date': '07/01/2012', 'address': '4801 N BROADWAY'}
07/02/2012
{'date': '07/02/2012', 'address': '5800 E 58TH'}
{'date': '07/02/2012', 'address': '5645 N RAVENSWOOD'}
{'date': '07/02/2012', 'address': '1060 W ADDISON'}
07/03/2012
{'date': '07/03/2012', 'address': '2122 N CLARK'}
07/04/2012
{'date': '07/04/2012', 'address': '5148 N CLARK'}
{'date': '07/04/2012', 'address': '1039 W GRANVILLE'}

In [107]:
addresses = [
    '5412 N CLARK',
    '5148 N CLARK',
    '5800 E 58TH',
    '2122 N CLARK'
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [108]:
[i for i in zip(addresses,counts) if i[1] > 5]

[('5800 E 58TH', 10), ('4801 N BROADWAY', 7), ('1039 W GRANVILLE', 6)]

In [111]:
from itertools import dropwhile

In [115]:
from functools import partial

In [122]:
def add(x,y):
    return x+y

In [123]:
(add(1,2))

3

In [124]:
add2 = partial(add, x=1)

In [125]:
(add2(y=3))

4

In [126]:
aa = 'bbddrrkdfkgf'
aa[::2]

'bdrkfg'

In [128]:
for i in range(0,len(aa), 2):
    print(aa[i:i+2])

bb
dd
rr
kd
fk
gf

In [129]:
mac = '902B345FB021'
'-'.join([mac[x:x+2] for x in range(0,len(mac),2)])

'90-2B-34-5F-B0-21'

In [130]:
names = list("fdskri")
ages = list(range(28, 28+len(names)))

In [131]:
[k for k,v in zip(names,ages) if v > 30]

['k', 'r', 'i']

In [132]:
import pandas as pd
def just_foo_cols(self):
    """Get a list of column names containing the string 'foo'
    """
    return [x for x in self.columns if 'foo' in x]
pd.DataFrame.just_foo_cols = just_foo_cols

In [145]:
class A():
    def foo(self):
        return "A.foo"

class B(A):
    def foo(self):
        super().foo()
a = A();a.foo()

'A.foo'

In [146]:
b = B();print(b.foo())

None

In [147]:
class A:
    def spam(self):
        print("A.spam")
class B(A):
    def spam(self):
        print("B.spam")
        super(B,self).spam()

In [148]:
x = B()
x.spam()

B.spam
A.spam

In [149]:
for c,_ in enumerate(open('passwd')):
    pass
c

28

In [152]:
import linecache

In [153]:
linecache.getlines('passwd')

['root:x:0:0:root:/root:/bin/bash\n',
 'bin:x:1:1:bin:/bin:/sbin/nologin\n',
 'daemon:x:2:2:daemon:/sbin:/sbin/nologin\n',
 'adm:x:3:4:adm:/var/adm:/sbin/nologin\n',
 'lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\n',
 'sync:x:5:0:sync:/sbin:/bin/sync\n',
 'shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\n',
 'halt:x:7:0:halt:/sbin:/sbin/halt\n',
 'mail:x:8:12:mail:/var/spool/mail:/sbin/nologin\n',
 'operator:x:11:0:operator:/root:/sbin/nologin\n',
 'games:x:12:100:games:/usr/games:/sbin/nologin\n',
 'ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin\n',
 'nobody:x:99:99:Nobody:/:/sbin/nologin\n',
 'avahi-autoipd:x:170:170:Avahi IPv4LL Stack:/var/lib/avahi-autoipd:/sbin/nologin\n',
 'systemd-bus-proxy:x:999:997:systemd Bus Proxy:/:/sbin/nologin\n',
 'systemd-network:x:998:996:systemd Network Management:/:/sbin/nologin\n',
 'dbus:x:81:81:System message bus:/:/sbin/nologin\n',
 'polkitd:x:997:995:User for polkitd:/:/sbin/nologin\n',
 'tss:x:59:59:Account used by the trousers package to sandbox the tcsd daemon:/dev/null:/sbin/nologin\n',
 'postfix:x:89:89::/var/spool/postfix:/sbin/nologin\n',
 'sshd:x:74:74:Privilege-separated SSH:/var/empty/sshd:/sbin/nologin\n',
 'apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin\n',
 'mysql:x:27:27:MySQL Server:/var/lib/mysql:/bin/false\n',
 'nexus:x:1000:1000::/home/nexus:/bin/bash\n',
 'gitlab-www:x:996:994::/var/opt/gitlab/nginx:/bin/false\n',
 'git:x:995:993::/var/opt/gitlab:/bin/sh\n',
 'gitlab-redis:x:994:992::/var/opt/gitlab/redis:/bin/nologin\n',
 'gitlab-psql:x:993:991::/var/opt/gitlab/postgresql:/bin/sh\n',
 'postgres:x:26:26:PostgreSQL Server:/var/lib/pgsql:/bin/bash\n']

In [155]:
linecache.getline('passwd', 2)

'bin:x:1:1:bin:/bin:/sbin/nologin\n'

In [158]:
%timeit
with open('passwd') as f:
    while 1:
        buffer = f.read(1024)
        if not buffer:
            break
        print(buffer)

root:x:0:0:root:/root:/bin/bash
bin:x:1:1:bin:/bin:/sbin/nologin
daemon:x:2:2:daemon:/sbin:/sbin/nologin
adm:x:3:4:adm:/var/adm:/sbin/nologin
lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin
sync:x:5:0:sync:/sbin:/bin/sync
shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown
halt:x:7:0:halt:/sbin:/sbin/halt
mail:x:8:12:mail:/var/spool/mail:/sbin/nologin
operator:x:11:0:operator:/root:/sbin/nologin
games:x:12:100:games:/usr/games:/sbin/nologin
ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin
nobody:x:99:99:Nobody:/:/sbin/nologin
avahi-autoipd:x:170:170:Avahi IPv4LL Stack:/var/lib/avahi-autoipd:/sbin/nologin
systemd-bus-proxy:x:999:997:systemd Bus Proxy:/:/sbin/nologin
systemd-network:x:998:996:systemd Network Management:/:/sbin/nologin
dbus:x:81:81:System message bus:/:/sbin/nologin
polkitd:x:997:995:User for polkitd:/:/sbin/nologin
tss:x:59:59:Account used by the trousers package to sandbox the tcsd daemon:/dev/null:/sbin/nologin
postfix:x:89:89::/var/spool/postfix:/sbin/nologin
sshd:x:74:74:Privilege-separated SSH:/var/empty/ssh
d:/sbin/nologin
apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin
mysql:x:27:27:MySQL Server:/var/lib/mysql:/bin/false
nexus:x:1000:1000::/home/nexus:/bin/bash
gitlab-www:x:996:994::/var/opt/gitlab/nginx:/bin/false
git:x:995:993::/var/opt/gitlab:/bin/sh
gitlab-redis:x:994:992::/var/opt/gitlab/redis:/bin/nologin
gitlab-psql:x:993:991::/var/opt/gitlab/postgresql:/bin/sh
postgres:x:26:26:PostgreSQL Server:/var/lib/pgsql:/bin/bash

In [157]:
with open('passwd') as f:
    for i in iter(lambda :f.read(1024), ''):
        print(i)

root:x:0:0:root:/root:/bin/bash
bin:x:1:1:bin:/bin:/sbin/nologin
daemon:x:2:2:daemon:/sbin:/sbin/nologin
adm:x:3:4:adm:/var/adm:/sbin/nologin
lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin
sync:x:5:0:sync:/sbin:/bin/sync
shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown
halt:x:7:0:halt:/sbin:/sbin/halt
mail:x:8:12:mail:/var/spool/mail:/sbin/nologin
operator:x:11:0:operator:/root:/sbin/nologin
games:x:12:100:games:/usr/games:/sbin/nologin
ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin
nobody:x:99:99:Nobody:/:/sbin/nologin
avahi-autoipd:x:170:170:Avahi IPv4LL Stack:/var/lib/avahi-autoipd:/sbin/nologin
systemd-bus-proxy:x:999:997:systemd Bus Proxy:/:/sbin/nologin
systemd-network:x:998:996:systemd Network Management:/:/sbin/nologin
dbus:x:81:81:System message bus:/:/sbin/nologin
polkitd:x:997:995:User for polkitd:/:/sbin/nologin
tss:x:59:59:Account used by the trousers package to sandbox the tcsd daemon:/dev/null:/sbin/nologin
postfix:x:89:89::/var/spool/postfix:/sbin/nologin
sshd:x:74:74:Privilege-separated SSH:/var/empty/ssh
d:/sbin/nologin
apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin
mysql:x:27:27:MySQL Server:/var/lib/mysql:/bin/false
nexus:x:1000:1000::/home/nexus:/bin/bash
gitlab-www:x:996:994::/var/opt/gitlab/nginx:/bin/false
git:x:995:993::/var/opt/gitlab:/bin/sh
gitlab-redis:x:994:992::/var/opt/gitlab/redis:/bin/nologin
gitlab-psql:x:993:991::/var/opt/gitlab/postgresql:/bin/sh
postgres:x:26:26:PostgreSQL Server:/var/lib/pgsql:/bin/bash

In [159]:
a = set()
'x' in a

False

In [162]:
import os
for paths,d,name in os.walk('/sun'):
    for i in name:
        if i.endswith('gz'):
            print(paths,d,name,end='\n')

/sun/src [] ['mysql-5.7.13-linux-glibc2.5-x86_64.tar.gz']

In [177]:
def outer(some_fun):
    def inner():
        ret = some_fun()
        return ret + 1
    return inner
def foo():
    return 1

d = outer(foo)
d()

2

In [179]:
def outer(some_fun):
    def inner(a):
        
        return a + 1
    return inner
def foo(n):
    return n

d = outer(foo)
d(2)

3

In [8]:
def printer():
    c = 0
#     string = yield
    while 1:
        string = yield
#         print("[{0}] {1}".format(c,string))
        print('[{0}] {1}'.format(c, string))
        c += 1

if __name__ == '__main__':
    p = printer()
    next(p)
    p.send('hi')
    p.send('sun')

[0] hi
[1] sun

In [19]:
from collections import deque

def task(name,times):
    for i in range(times):
        yield
        print(name,i)


class C():
    def __init__(self, tasks):
        self.tasks = deque(tasks)
    def next(self):
        return self.tasks.pop()
    def run(self):
        n = 1
        while len(self.tasks):
            print(n)
            t = self.next()
            try:
                next(t)
            except:
                pass
            else:
                self.tasks.appendleft(t)
                n += 1

C([
        task('aa',3),
        task('bbb',2),
        task('sun',3)
    ]).run()

1
2
3
4
sun 0
5
bbb 0
6
aa 0
7
sun 1
8
bbb 1
8
aa 1
9
sun 2
9
aa 2

In [20]:
class C():
    def name(self,name):
        self.name = name
        return self
    def age(self,age):
        self.age = age
        return self
    def p(self):
        print('我的名字：',self.name,'我的年龄：',self.age)

In [21]:
c = C()
c.name('aaa').age(20).p()

我的名字： aaa 我的年龄： 20