In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
df = DataFrame({'key1':['a','b','c','a','c'],
               'key2':['one','two','one','two','three'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)})
df

      data1     data2 key1   key2
0  1.023629  2.087165    a    one
1  0.789319  0.728076    b    two
2 -0.982533 -0.319293    c    one
3  0.216595 -0.473751    a    two
4 -0.127350  0.349500    c  three